
    <div class="col-sm-3">

    </div>
    <div class="col-sm-5 col-pre-register">
        <div class="row">
            <label id="PreRegister-code-label" for="PreRegister_code" class="col-sm-12 control-label">{{ 'Проверочный код'|trans({}, 'SonataUserBundle') }}</label>
        </div>
        <div class="row">
            <input type="text" id="PreRegister_code" name="PreRegister[code]" required="required" size="5" class="form-control">
        </div>
        <div class="row">
            <div id="sms-check-code-button" class="btn btn-primary" path-controller="{{ path('app_pre_register_check') }}">Пройти проверку</div>
        </div>
    </div>
    <div class="col-sm-3">

    </div>