

    <div class="col-sm-12">
        <div class="row">
            <div class="panel-heading">
                <h2 class="panel-title" style="text-align: center">Неверно указан проверочный код SMS!</h2>
            </div>
        </div>
    </div>