<div class="col-sm-12">
    <div class="row">
        <div class="panel-heading">
            <h2 class="panel-title">На данный номер уже пройдена регистрация</h2>
        </div>
    </div>
    <div class="row">
        {{ render(controller('FOSUserBundle:Security:login')) }}
    </div>
</div>