{% extends 'TooBigAppBundle::page-with-header.html.twig' %}

{% block page_body %}

    <div class="pre-register form-phone-input">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock page_body %}