<div class="form-group control-group">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-5 col-pre-register">
        <div class="row">
            <a id="sms-check-code-button" class="btn btn-primary" href="{{ path('fos_user_registration_register') }}">Продолжить</a>
        </div>
    </div>
    <div class="col-sm-3">

    </div>
</div>