<div class="item-feature item-rate">
    {% if rate is defined and rate | length %}
        <span class="item-title item-rate"></span>
        <span class="item-rate-value item-rate-gold-value item-rate-{{ rate[0].avg_rate | number_format }}"></span>
        <span class="item-rate-value item-rate-gray-value item-rate-{{ 5 - rate[0].avg_rate | number_format }}"></span>
    {% endif %}
    {% if comments is defined and comments | length !=0 %}
        <span class="item-title item-comments">{{ comments | length }} отзывов</span>
    {% else %}
        <span class="item-title item-comments">отзывов нет</span>
    {% endif %}
</div>