{% block entity_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for choice in form.vars.choices %}
                <div class="">
                    {% if form.vars.name != 'color' %}
                        {{ choice.label|trans({}, translation_domain) }}
                    {% else %}
                        <input type="radio" value="{{ choice.value }}" name="Item[color][]"/>
                        <div style="background-color: {{ choice.label }}" class="filter-color-box"></div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}