{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <div class="">
                    {{ form_widget(child, {'attr': {'class': attr.widget_class|default('')}}) }}
                    {{ child.vars.label|trans({}, translation_domain) }}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}