{% extends 'TooBigAppBundle::page-with-header.html.twig' %}

{% block title %}Редактировать мои данные{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="/bundles/toobigapp/css/jquery.fileupload-ui.css" rel="stylesheet">
{% endblock stylesheets %}


{% block page_header %}
    {% block crumbs %}
        <div class="breadcrumbs">
            <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumbs-item"><a href="{{ rpath ('/') }}" class="breadcrumbs-item-link link" itemprop="url"><span itemprop="title">Главная</span></a></span>
            <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumbs-item"><a itemprop="url" class="breadcrumbs-item-link link"><span itemprop="title">Аккаунт</span></a></span>
        </div>
    {% endblock crumbs %}
{% endblock page_header %}


{% block content_body %}

    <div class="col-md-12">

        {% block page_body %}
            <div class="RG">
                <div class="kS">
                    <div class="Bt" role="region" aria-labelledby="i1">
                        <a href="#" class="Yna">
                            <h2 class="WG">
                                <div class="Xna">
                                    <div class="Wna">
                                        <img src="//www.gstatic.com/ac/settings/landing/welcome_category_icon_security_36x36_b2fdef345194ddcb1ff77516d9e65699.png" width="36" height="36">
                                    </div>
                                </div>
                                <div class="OZ" id="i1">Профиль и личные данные</div>
                                <div class="Vna">
                                    <div class="Una"></div>
                                </div>
                            </h2>
                        </a>
                        <div class="NZ">
                            <div class="lS">Здесь вы можете заполнить свой профиль, поменять пароль.</div>
                            <div class="lS">
                                <a href="#" class="jS">
                                    Профиль
                                </a>
                                <a href="#" class="jS">
                                    Установить новый пароль
                                </a>
                                <a href="#" class="jS">
                                    Установить аватар
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="Bt" role="region" aria-labelledby="i1">
                        <a href="#" class="Yna">
                            <h2 class="WG">
                                <div class="Xna">
                                    <div class="Wna">
                                        <img src="//www.gstatic.com/ac/settings/landing/welcome_category_icon_security_36x36_b2fdef345194ddcb1ff77516d9e65699.png" width="36" height="36">
                                    </div>
                                </div>
                                <div class="OZ" id="i1">Объявления</div>
                                <div class="Vna">
                                    <div class="Una"></div>
                                </div>
                            </h2>
                        </a>
                        <div class="NZ">
                            <div class="lS">Здесь вы можете подать объявление, управлять списком своих объявлений, просмотреть список понравившихся вам объявлений, создать подписку на объявления пользователей.</div>
                            <div class="lS">
                                <a href="#" class="jS">
                                    Каталог объявлений
                                </a>
                                <a href="#" class="jS">
                                    Подать объявление
                                </a>
                                <a href="#" class="jS">
                                    Управление объявлениями
                                </a>
                                <a href="#" class="jS">
                                    Просмотреть список понравившихся
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="Bt" role="region" aria-labelledby="i1">
                        <a href="#" class="Yna">
                            <h2 class="WG">
                                <div class="Xna">
                                    <div class="Wna">
                                        <img src="//www.gstatic.com/ac/settings/landing/welcome_category_icon_security_36x36_b2fdef345194ddcb1ff77516d9e65699.png" width="36" height="36">
                                    </div>
                                </div>
                                <div class="OZ" id="i1">Подписки</div>
                                <div class="Vna">
                                    <div class="Una"></div>
                                </div>
                            </h2>
                        </a>
                        <div class="NZ">
                            <div class="lS">Здесь вы можете создать подписку на объявления пользователей, управлять подписками.</div>
                            <div class="lS">
                                <a href="#" class="jS">
                                    Создать подписку
                                </a>
                                <a href="#" class="jS">
                                    Управление/просмотр подписок
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock page_body %}

    </div>

{% endblock content_body %}