{% block subject %}
    {% autoescape false %}
        Срок публикации объявления "{{ item.title }}" закончился.
    {% endautoescape %}
{% endblock %}
{% block body_text %}
    {% autoescape false %}
        Уважаемый(ая), {{  user.username }}. Срок публикации вашего объявления "{{ item.title }}" закончился. Для его дальнейшего показа, перейдите в раздел <a href="{{ path('app_list_user_items') }}">Мои объявления</a> и активируйте его снова.
    {% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}