<div class="panel-body">
<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    <div class="form-group">
        <label for="fos_user_resetting_form_new_first" class="required col-sm-3 control-label">Новый пароль</label>
        <input type="password" id="fos_user_resetting_form_new_first" name="fos_user_resetting_form[new][first]" required="required" class="form-control">
    </div>
    <div class="form-group">
        <label for="fos_user_resetting_form_new_second" class="required col-sm-3 control-label">Подтвердите пароль</label>
        <input type="password" id="fos_user_resetting_form_new_second" name="fos_user_resetting_form[new][second]" required="required" class="form-control">
    </div>
    {{ form_widget(form._token) }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <input type="submit" class="btn btn-primary" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </div>
</form>
</div>
