<div class="form-group ajax-blueimp" id="sonata-ba-field-container-blueimp">
    <label class="control-label" for="blueimp">
        Загруженные пользователем файлы
    </label>
    <div class="sonata-ba-field sonata-ba-field-standard-natural">
        <style>
            ul#thumblist { list-style: none; }
            ul#thumblist > li { list-style-type: none; display: inline-block; }
        </style>
        <ul id="thumblist">
            {% for file in files %}
                <li>
                    <a href="/uploads/attachments/{{ item.id }}/originals/{{ file }}" target="_blank">
                        <img border="0" src="/uploads/attachments/{{ item.id }}/thumbnails/{{ file }}"/>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>