{% extends 'TooBigAppBundle::base.html.twig' %}


{% block body %}


    {#
        {% if loop.index > 1 and  loop.index is divisibleby(3)%} </div><div class="row-fluid"> {% endif %}
     #}





    {% block main_announces %}
        <div class="jumbotron">
            <div class="container">

            </div>
        </div>
    {% endblock main_announces %}


    {% block announces %}

    {% endblock announces %}

{% endblock body %}