/* styles for TooBig */
/* site header */
a.site-logo {
    display: block;
    margin: 10px 0;
}
/* bootstrap */
.modal-backdrop {
    position: fixed;
}
.btn-primary, .list-group-item.active {
    background-color: #8d9ed1;
    border-color: #004994;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #7c8bb6;
    border-color: #004994;
}
.btn-success {
    background-color: #bad36c;
    border-color: #004994;
}
.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open>.dropdown-toggle.btn-success {
    background-color: #9db25b;
    border-color: #004994;
}
.navbar-inverse {
    background-color: #fff;
    border-color: #eee;
}
.container-fluid {
    padding-right: 100px;
    padding-left: 100px;
    background: #fff;
    color: #777;
}
.container-fluid.menu {
    background: #fafafa;
    border-top: 1px solid #eee;
}
.container-fluid.top {
    background: #fff;
    border-top: 0px;
    height: 120px;
}
.container-fluid.search {
    background: #fff;
    border-top: 0px;
    width: 760px;
    margin-top: 10px;
}
.container-fluid .jumbotron {
    padding-right: 30px;
    padding-left: 30px;
}
.container-fluid .jumbotron.page-inner {
    padding-right: 10px;
    padding-left: 10px;
}
.jumbotron {
    padding: 30px 0;
    border-radius: 0;
}
.jumbotron.page-inner {
    padding: 10px 0;
}
.btn {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 0px;
    margin: 10px 0 10px 0px;
}
.page-header {
    margin: 0px 0 20px;
}
.page-header > h1 {
    margin-top: 0px;
}
.h1, h1 {
    font-size: 30px;
}
.glyphicon.glyphicon-ok-circle {
    color: green;
}
.glyphicon.glyphicon-remove-circle {
    color: red;
}
label.control-label {
    text-align: left !important;
}
.form-control {
    padding: 0px 12px;
    font-size: 20px;
    border-radius: 0;
    height: 40px;
}
.panel-heading {
    padding: 5px 0;
    text-align: center;
}

.form-horizontal .control-label {
    padding: 0px !important;
    margin: 10px 0;
    font-size: 16px;
}
.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}
.form-horizontal.form-2-section .control-label {
    padding: 0 7px !important;
    margin: 0px 0;
    font-size: 16px;
}

.form-group.control-group.separator { height: 1px; border-bottom: 1px solid #eee; }
/* bootstrap */

/* site breadcrumbs */
.breadcrumbs {
    margin: 0 0 20px 0px;
}
.breadcrumbs-item {
    display: inline-block;
    position: relative;
    white-space: nowrap;
}
.breadcrumbs-item:after {
    content: '/';
    display: inline-block;
    color: #eee;
    margin: 0 10px;
}
.rubric-item.breadcrumbs-item:after {
    content: '>';
    display: inline-block;
    color: #3d3d3d;
    margin: 0 5px;
}
.breadcrumbs-item:last-child:after {
    content: '';
}
.rubric-item.breadcrumbs-item:last-child:after {
    content: '';
}
.breadcrumbs-item:first-child {
    margin-left: -10px;
}
.breadcrumbs-item-link {
    color: #aaa;
    padding: 0 10px;
    display: inline-block;
    vertical-align: top;
}
.rubric-item .breadcrumbs-item-link {
    color: #3d3d3d;
    vertical-align: middle;
}
.breadcrumbs-item-link .link {
    text-decoration: none;
    color: #777;
    cursor: pointer;
    transition: color .2s linear;
}

/* filterForm */
div#ItemsFilter {
    display: block;
    height: 30px;
    margin-bottom: 30px;
}
div#ItemsFilter > form {
    display: block;
}
div#ItemsFilter div.form-row div.title {
    font-weight: bolder;
}
.col-sm-1.col.filter-col {
    padding-right: 5px;
    padding-left: 5px;
    width: 20%;
}
.col-sm-7.col.filter-col {
    width: 30%;
}
.col-sm-12.col.filter-col {
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.jumbotron.page-inner .col-sm-12.col.filter-col {
    margin-bottom: 5px;
}

.filter-result-params {
    font-weight: bold;
}
.filter-title {
    cursor: pointer;
    position: relative;
}
.filter-title .filter-hidden {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    min-width: 200px;
}
.filter-title.filter-open .filter-hidden { display: block; }
.filter-title span i {
    font-size: 11px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.filter-form-item {
    max-height: 200px;
    overflow-y: auto;
    padding-bottom: 10px;
}
div#ItemsFilter_color > div, div#Item_color > div, div#Subscription_color > div  {
    display: inline-block;
    width: 30px;
    height: 30px;
}
div#ItemsFilter_color input[type=checkbox],
div#Item_color input[type=radio],
div#Subscription_color input[type=checkbox],
div#Subscription_color input[type=radio] {
    display: none;
}
.filter-color-box {
    width: 30px;
    height: 30px;
    border: 1px solid #DDDDDD;
    display: inline-block;
    margin-left: 0px;
    position: relative;
    top: 0;
}
.filter-color-box:hover {
    border: 1px solid #777777;
}
.filter-color-box.glyphicon-ok:before {
    content: "\e013";
    position: absolute;
}
.filter-color-box.glyphicon-ok {
    border: 1px solid rgb(34, 34, 34);
    box-sizing: border-box;
}
.selected-color-box {
    width: 20px;
    height: 20px;
    border: 1px solid #DDDDDD;
    display: inline-block;
    margin-left: 0px;
    top: 5px;
    position: relative;
}

div#price-slider-ui {
    margin-top: 10px;
    margin-left: 10px;
    width: 50%;
}
.filter-hidden > div#price-slider-ui {
    margin-top: 10px;
}
.filter-hidden button {
    width: 90%;
}
.price-slider-range {
    padding-top: 20px;
}
input.filter-form-item.price-min, input.filter-form-item.price-max {
    height: 25px;
}
input.form-filter.search {
    padding: 8px 12px;
    width: 80%;
}
a.btn.btn-primary.filter-form-submit {
    margin-bottom: 3px;
    margin-top: 0;
}
input.btn.btn-primary.filter-form-submit {
    margin-bottom: 3px;
    padding: 3px 10px;
}
/**/

div.list-group > ul > li { list-style: none; margin-bottom: -1px; }
div.list-group > a.list-group-item {
    padding: 8px 10px;
    -webkit-transition: color .7s ease, border-color .7s ease, background-color .7s ease;
    transition: color .7s ease, border-color .7s ease, background-color .7s ease;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

img.img-polaroid { width: 200px; height: auto; }

/* My items */
div#my-item-list div.row.item { min-height: 100px; padding: 5px 0; }
div#my-item-list div.row.item:nth-child(odd) { background-color: #eeeeee; }

/* catalog item */
div.c-item {
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 0;
    position: relative;
    padding: 10px;
    -webkit-transition: color .7s ease, border-color .7s ease, background-color .7s ease;
    transition: color .7s ease, border-color .7s ease, background-color .7s ease;
}
div.c-item:nth-child(odd) {
    background-color: #fafafa;
}
div.c-item:hover, div.c-item:nth-child(odd):hover {
    background-color: #eee;
}
div.c-item.c-brand {
    width: 100px;
    margin: 0 10px 10px 0;
    position: relative;
}
div.item-img {
    display: block;
    width: 100px;
    height: auto;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}
div.item-img.img-brand {
    display: block;
    width: 100px;
    height: 125px;
    overflow: hidden;
}
div.item-img img {
    display: block;
    width: 100px;
    height: auto;
}
div.item-img.img-brand img {
    display: block;
    width: auto;
    height: auto;
}
div.item-title {
    font-size: 20px;
}
div.item-brand {
    color: #333;
    margin: 0;
    position: relative;
    z-index: 1;
}
div.item-type {
    color: #aaa;
    position: relative;
    z-index: 1;
    padding-bottom: 2px;
}
div.item-price {
    position: relative;
    z-index: 1;
    color: #222;
}
div.announce {
    border: 1px solid #d6d6d6;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
}
div.announce {
    padding-bottom: 14px;
}
div.announce {
    z-index: 1;
    position: absolute;
    line-height: 17px;
    top: 100%;
    left: -1px;
    right: -1px;
    padding: 0 10px 7px;
    border: 1px solid #D8D8D8;
    box-shadow: 0 1px 8px rgba(0,0,0,.25);
    background: #fff;
}

/*ShopItem*/

.item-group > .col-sm-4 { text-align: center; }

.shopitem-div { padding: 10px 30px; }
.shopitem-img-msg-div { float: left; max-width: 20%; }
.shopitem-name-sect-desc-div { float:right; max-width: 70%; }
.shopitem-name-sect-desc-div { padding: 0 15px; }
.shopitem-name-h1 { font-size: 16px; color: #7E5C15; }
.shopitem-img-div { padding: 3px; }
.shopitem-img-main { border: 1px #eee solid; width: 100%; }
.shopitem-price-div { color: red; font-weight: 700; }
.shopitem-tocart { margin: 0px 0; width: 66px; height: 23px; font-weight: 400; padding: 0px; background: url()}
.shopitem-tocart a { color: #fff; text-decoration: none; }
#cart-apply { height: 70px; }
#BuyCart { font-size: 12px; padding: 10px; }
.shopitem-img-list-div { text-align: left; }
#thumblist.clearfix {  background-color: #fff; padding: 3px; margin: 5px 0; text-align: center; }
#thumblist.clearfix li { display: inline; padding-right: 2px; }
#thumblist.clearfix li img { border: 1px #eee solid; }

.item-feature {
    padding-top: 10px;
}
div.c-item .item-feature {
    padding-top: 5px;
    margin-left: 109px;
}
.item-feature.item-price, .item-feature.item-brand {
    font-size: 15px;
    font-weight: bold;
}
.item-group .item-title { font-weight: bolder; font-size: 13px; }
.item-rate-value { display: inline-block; height: 13px; }
.item-rate-gold-value { background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMyAxMyI+PHBhdGggZmlsbD0iI0ZBQjYwMCIgZD0iTTYuNDkxIDBsMS41MDkgNWg1bC00IDMgMiA1LTQuNS0zLTQuNSAzIDItNS00LTNoNXoiLz48L3N2Zz4=); }
.item-rate-gray-value { background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMyAxMyI+PHBhdGggZmlsbD0iI0NGQ0ZDRiIgZD0iTTYuNDkxIDBsMS41MDkgNWg1bC00IDMgMiA1LTQuNS0zLTQuNSAzIDItNS00LTNoNXoiLz48L3N2Zz4=); }
.item-rate-1 { width: 13px; }
.item-rate-2 { width: 26px; }
.item-rate-3 { width: 39px; }
.item-rate-4 { width: 52px; }
.item-rate-5 { width: 65px; }
.item-comment {
    margin-bottom: 10px;
}
.item-comment:nth-child(even) {
    background-color: #FBFBFB;
    padding: 10px;
}
.item-comment .comment-user { margin-bottom: 5px; display: block; border-bottom: 1px solid #eee; }
.item-comment .comment-user-name { font-weight: bold; }
.item-comment .comment-user-date { font-size: 12px; }
/*ShopItem*/

/* List Items */
.row.item, .row.heading {
    font-size: 13px;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.row.heading {
    font-weight: bold;
    border-top: 1px solid #eee;
}
.row.heading > div, .row.item > div {
    text-align: center;
}
.row.item > div > div {
    text-align: left;
}


/* Pagination */
.pagination {
    width: 100%;
    text-align: center;
}
.pagination > span {
    border: 1px solid #bbb;
    border-radius: 1px;
    display: inline-block;
    padding: 5px;
    min-width: 30px;
    text-align: center;
}
.pagination > span > a {
    text-decoration: none;
    color: #555;
}
.pagination > span.current {
    font-weight: bold;
}

/* Forms */
.form-group .form-buttons {
    width: 100%;
    text-align: right;
}
.form-group .form-buttons.center {
    text-align: center;
}
.form-group .form-buttons > button, .form-group .form-buttons > a {
    margin-left: 5px;
}
#Item_gender,
#Item_color,
#Item_brand,
#Item_model,
#Item_size_type,
#Item_size,
#Item_status,
#Item_phone,
#Subscription_gender,
#Subscription_color,
#Subscription_brand,
#Subscription_model,
#Subscription_size_type,
#Subscription_size {
    width: 256px;
}
#Item_color, #Subscription_color  {
    height: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    line-height: 0;
}
#Item_price {
    width: 210px;
    display: inline-block;
    text-align: right;
}
img.ico-roubles {
    padding-left: 9px;
    padding-bottom: 4px;
    display: inline-block;
    vertical-align: initial;
}
.fileinput-button {
    display: block;
    width: 256px;
    height: 128px;
    background: url('/bundles/toobigapp/images/camera_import_images_photos.png') no-repeat;
    border: 1px dotted #bdbdbd;
    border-radius: 5px;
    margin: 0 auto;
}

#Item_rubric, #Subscription_rubric { display: none; }
#Subscription .breadcrumbs-item-link {
    color: #337AB7;
    font-weight: bold;
}
#Subscription .breadcrumbs-item-link:hover {
    text-decoration: none;
}
#Subscription .breadcrumbs-item:after {
    color: #337ab7;
    font-weight: bold;
}

/* Captcha Form */
a.show-phone-link {
    cursor: pointer;
}
#Captcha {
    text-align: center;
    width: 200px;
}
#Captcha ul {
    padding: 0;
    list-style: none;
}
#Captcha ul > li {
    list-style-type: none;
    color: red;
}
#Captcha_captcha, #Captcha_save {
    width: 130px;
    padding: 5px;
    margin: 5px;
}

/* Top Quick links */
ul.quick-links-menu {
    width: 450px;
    margin-bottom: 0;
    padding: 0;
}
ul.quick-links-menu li {
    display: inline-block;
    padding: 8px 24px 8px 0;
}
a.navbar-quick-link {
    color: #9d9d9d;
    text-decoration: none;
    font-size: 15px;
}
a.navbar-quick-link:hover {
    color: #222;
}

/* Preregister */
div.pre-register.form-phone-input {
    height: 40px;
}
.col-sm-12 {
    text-align: left;
}
.btn-ajax-to-modal {
    cursor: pointer;
}

#PreRegister-phone-label, #PreRegister-code-label {
    display: inline-block;
    vertical-align: middle;
    padding-top: 0px;
    font-size: 16px;
}
#PreRegister-code-label {
    float: none;
    text-align: center !important;
}
#PreRegister_phone, #PreRegister_code {
    padding: 20px 12px;
    margin-bottom: 15px;
    font-size: 20px;
}
#PreRegister_code {
    width: 155px;
    text-align: center;
    margin: 0 auto;
}

#PreRegister_save {
    margin-top: 0px;
}

div#sms-check-code-button {
    margin-left: 0px;
}
div#sms-check-code, div#after-check-code {
    text-align: center;
}
div#sms-check-code img, div#after-check-code img {
    margin-right: 50px;
}
.col-sm-5.col-pre-register {
    text-align: center;
}
div.error ul{
    padding-left: 10px;
}
div.error ul li {
    color: red;
    list-style: none;
}
div.error input, div.error textarea {
    border: 1px solid #dd1144;
}


/* user header profile */
.dropdown-menu-profile {
    min-width: 400px;
}

.gb_jb {
    margin: 20px;
}
.gb_mb {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transform: translateZ(0);
}
.gb_kb {
    margin-right: 20px;
    position: relative;
}
.gb_kb, .gb_lb {
    display: inline-block;
    vertical-align: top;
}
.gbip {
    background-image: url(/bundles/toobigapp/images/no-profile-photo.jpg);
}
.gb_pb { font-weight: bold; }
.gb_nb {
    -webkit-background-size: 96px 96px;
    background-size: 96px 96px;
    border: none;
    vertical-align: top;
    height: 96px;
    width: 96px;
}
.gb_mb .gb_ob {
    background: rgba(0,0,0,.54);
}
.gb_ob {
    background: rgba(78,144,254,.7);
    bottom: 0;
    color: #fff;
    font-size: 9px;
    font-weight: bold;
    left: 0;
    line-height: 9px;
    position: absolute;
    padding: 7px 0;
    text-align: center;
    width: 96px;
}
.gb_kb, .gb_lb {
    display: inline-block;
    vertical-align: top;
}