/* styles for TooBig */

div.list-group > ul > li { list-style: none; }
div.list-group > a.list-group-item { margin-bottom: 2px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; }

img.img-polaroid { width: 200px; height: auto; }

/* My items */
div#my-item-list div.row.item { min-height: 100px; padding: 5px 0; }
div#my-item-list div.row.item:nth-child(odd) { background-color: #eeeeee; }

/* catalog item */
div.c-item {
    display: inline-block;
    vertical-align: top;
    width: 236px;
    margin: 0 10px 35px 0;
    position: relative;
}
div.item-img img {
    display: block;
    width: 236px;
    height: auto;
}
div.item-brand {
    color: #333;
    margin: 13px 0 0;
    position: relative;
    z-index: 1;
}
div.item-type {
    color: #aaa;
    position: relative;
    z-index: 1;
    padding-bottom: 2px;
}
div.item-price {
    position: relative;
    z-index: 1;
    color: #222;
}
div.announce {
    border: 1px solid #d6d6d6;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
}
div.announce {
    padding-bottom: 14px;
}
div.announce {
    z-index: 1;
    position: absolute;
    line-height: 17px;
    top: 100%;
    left: -1px;
    right: -1px;
    padding: 0 10px 7px;
    border: 1px solid #D8D8D8;
    box-shadow: 0 1px 8px rgba(0,0,0,.25);
    background: #fff;
}

/*ShopItem*/
.shopitem-div { padding: 10px 30px; }
.shopitem-img-msg-div { float: left; max-width: 20%; }
.shopitem-name-sect-desc-div { float:right; max-width: 70%; }
.shopitem-name-sect-desc-div { padding: 0 15px; }
.shopitem-name-h1 { font-size: 16px; color: #7E5C15; }
.shopitem-img-div { padding: 3px; }
.shopitem-img-main { border: 1px #eee solid; width: 100%; }
.shopitem-price-div { color: red; font-weight: 700; }
.shopitem-tocart { margin: 0px 0; width: 66px; height: 23px; font-weight: 400; padding: 0px; background: url()}
.shopitem-tocart a { color: #fff; text-decoration: none; }
#cart-apply { height: 70px; }
#BuyCart { font-size: 12px; padding: 10px; }
.shopitem-img-list-div { text-align: left; }
#thumblist.clearfix {  background-color: #fff; padding: 3px; margin: 5px 0; text-align: center; }
#thumblist.clearfix li { display: inline; padding-right: 2px; }
#thumblist.clearfix li img { border: 1px #eee solid; }
/*ShopItem*/
